<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>

  <body>
    <div id="menu">
      {% block menu %}
           <div id="svr"
               <a href="/servo_vers_raspberry">Lire l'angle du Servo</a>
           </div>
           <div id="rvs">
               <a href="/raspberry_vers_servo">Ouvrir/fermer</a>
           </div>
      {% endblock %}
    </div>
    <div id="main">
      {% block main %}
      <p id="servo">L'angle est actuellement : <span id="servo_value">{{value}}</span></p>
      <div id="buttons">
        <button type="button" name="button" onclick="up()">UP</button>
        <button type="button" name="button" onclick="down()">DOWN</button>
      </div>
      {% endblock %}
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
